/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/mrf_attachments/
public/resume/
public/documents/
public/applicant_documents/
public/approved_mrf/
